/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 16, 2015, 4:23:20 PM
    Author     : htc
*/

body {
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	background: #eeeeee;
	color: #333333;
	width: 520px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
}
#todoapp {
	background: #fff;
	padding: 20px;
	margin-bottom: 40px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	-ms-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	-o-box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
#todoapp h1 {
	font-size: 36px;
	font-weight: bold;
	text-align: center;
	padding: 0 0 10px 0;
}

#todoapp input[type="text"] {
	width: 466px;
	font-size: 24px;
}


  #todoapp li {
    border-radius: 2px;
    list-style: none;
    background: #eee;
    padding: 7px 6px 5px 8px;
    margin-bottom: 5px;
    position: relative;
    color: black;
    height: 35px;
    font-size: 20px;
    text-align: center;
    width: 426px;
  }
  #todoapp li:nth-child(2n){
    background: #ccc;
  }
  .list a{
      
      margin:auto;
  }
  

  .rm_btn{
     width:22px;
     height:22px;
     border-radius:50px;
     
     color:#fff;
     background:#000;
     opacity: 1.5;
     float: right;
  }
  .rm_btn:after{
      content: "x";
  }
  
  .btn_check{
      float:left;
      width: 20px;
      height: 20px;
      
  }
  
  #copy{
      
  }
 
 
 
#rm_all{
	background-color:#44c767;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:5px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
        float: right;
        margin-top: 10px;
        display: none;
}
#rm_all:hover {
	background-color:#5cbf2a;
}
#rm_all:active {
	position:relative;
	top:1px;
}
 
#copy{
    margin-top: 20px;
    position: fix;
}

h1{
    color: #202c2d; 
    font-family: freight-sans-pro, sans-serif; 
    font-weight: 900; 
    text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5, -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5;
}

.label_a{
    
    font-size: 20px;
}
 
